# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
build/
dist/
backend.log

# Node.js
node_modules/
dist/
dist-ssr
*.local

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Databases
chroma_db/
chroma_db_v2/
*.db
*.sqlite3
